/*color scheme
#173f5f #20639b #3caea3 #f6d55c #ed553b */
body {
  background-color: #20639b;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#topmenu {
  background-color: #173f5f;
  height: 100px;
  display: block;
  margin-top: 0px;
}
img {
  float: left;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#rightmost {
  margin-right: 45px;
}
a.topmenu,
a:link {
  float: right;
  width: auto;
  height: auto;
  margin-top: 15px;
  padding-top: 25.5px;
  margin-bottom: 15px;
  padding-bottom: 25.5px;
  padding-left: 15px;
  margin-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #3caea3;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}
a.topmenu,
a:visited {
  color: #3caea3;
  text-decoration: none;
}
a.topmenu,
a:hover {
  color: #f6d55c;
}

div#mainbody {
  background-color: #ed553b;
  height: auto;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  display: block;
  padding-bottom: 100px;
}

div.body {
  marging-top: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  color: #f6d55c;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
hr {
  height: 3px;
  width: 50%;
  margin-top: -20px;
  background-color: #f6d55c;
  margin-left: -5px;
  border: 0em;
}
p {
  color: #173f5f;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h4 {
  color: #173f5f;
  margin-left: 7px;

  margin-bottom: -3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
li {
  color: #173f5f;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ul {
  margin-left: -15px;
}

.button {
  background-color: #3caea3;
  float: right;
  padding: 10px;
  margin-right: 50px;
}
.grid {
  border-color: black;
  border-radius: 3px;
  border-weight: 3px;
  background-color: white;
  height: 40px;
  width: 40px;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin: 0px;
  display: inline;
}
span {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
